@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    font-family: 'Space Grotesk', sans-serif;
    background: #7575FF; 
    color: #FFFFFF; 
    font-size: 1em; 
    padding: 0.6em 1.4em; 
    border-radius: 1.3em; 
    font-weight: 700; 
    font-style: normal;
  }

.sub-t {
  margin-top: 7em;
}

.card {
  margin-top: 4em;
  width: 30em;
  height: auto;
  margin-bottom: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
  background: #FFFFFF;
  /* Dropshadow */

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
  border-radius: 40px;
}

.cardsub {
  position: relative;
  margin-left: 1.9em;
  margin-right: 2em;
}

.line {
  width: 98%;
  

}
.sendcash {
  background: #7575FF; 
  color: #ffffff; 
  font-size: 1.1em; 
  padding: 0.8em 1.9em; 
  text-shadow: 0em 0em 0px #000000; 
  box-shadow: 0em 0em 0px #000000; 
  border-radius: 1.5em; 
  border: solid 0em #000000; 
  font-weight: 500; 
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  outline: none;
}

.react-tel-input .flag-dropdown:before  {
  display: none;
}
 




@media (max-width: 480px) {
  

  .btn {
    font-size: 0.8em;
  }

  .pad {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .sendcash {
    font-size: 1em;
  }

}